.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: rgb(7, 7, 7);
}

div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.box {
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #DE4738;
    border: 1px solid #E24E3F;
}

.active:hover {
    background-color: #EC5142;
    border-color: #E24E3F;
}
