* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #ffeaa7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoArea {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.seatArea {
  height: 85vh;
  width: 94vw;
  background-color: #fab1a0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

.seat {
  background-color: #ff7675;
  border: 2px solid black;
  border-radius: 11px;
}

.seat:hover {
  background-color: #d63031;
}

.booked {
  background-color: #d63031;
}

span {
  color: #00cec9;
}

h2 {
  color: #2d3436;
  font-size: 30px;
}
