* {
  margin: 0;
  padding: 0;
}

.box {
  background-color: #7efff5;
  margin: 15px 0px;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  border-radius: 5px;
}

.box div {
  margin: 10px 0px;
}

.box:hover {
  transform: scale(1.02);
}

button {
  padding: 5px;
  border-style: none;
  margin: 0 90%;
}

button:hover {
  background-color: red;
  transform: scale(1.02);
  font-weight: bold;
  border: 1px solid black;
}
